@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: url(./Assets/fond-marron.jpg) fixed center/cover;
  height: 100vh;
}

nav {
  font-family: "Gang Of Three";
  text-align: center;
  background-color: #fff;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0px 5px 6px grey;
  text-align: center;
  font-family: "Oooh Baby", sans-serif;
  font-family: 'Gang Of Three';
  border-bottom: rgb(185, 99, 99) 7px solid;
}
main {
  background: rgba(255, 255, 255, 0.74);
  width: 85%;
  min-height: 300px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 12px 5px rgb(83, 83, 83);
  backdrop-filter: blur(10px);
  margin-top: 100px;
}
strong {
  color: rgb(235, 0, 0);
}
.positioning,
.flexbox,
.grid-container,
.grid,
.carpe {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.grid {
  background-color: #fff;
}

.positioning {
  position: relative;
  align-items: center;
}

.resume {
  position: relative;
  text-align: center;
  background-color: #fff;
}

.flexbox {
  position: relative;
  background-color: #fff;
  text-align: center;
}


h2 {
  margin-bottom: 24px;
  border-bottom: rgb(185, 99, 99) solid 3px;
  padding: 5px;
  margin: 10px;
}
p {
  padding: 20px;
}

#circle {
  height: 50px;
  width: 50px;
  background: skyblue;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 10px;
  box-shadow: 0 2px 12px 5px rgb(83, 83, 83);
  z-index: 1;
}

#rectangle {
  height: 5px;
  width: 25px;
  background: slateblue;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 2px 12px 5px rgb(83, 83, 83);
}

/**************** flexbox ***************/
ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1rem;
  height: 75px;

  /**************** Centrer Horizontalement ***************/

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  background: rgb(255, 255, 255);
  padding: 5px;
  transition: all 0.1s ease-in-out;
}

li a:hover {
  background: rgb(255, 132, 132);
}
.container_image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.text_image {
  position: relative;
  border: rgb(255, 255, 255) 2px solid;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text_image img {
  width: 100px;
  height: 100px;
}

.text_image p {
  text-align: center;
  background-color: #f1f1f1;
}

li a:hover {
  border-bottom: 3px solid black;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: #550d0d;
  font-weight: bolder;
}

.embleme {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
}

.titan {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}

.titan:hover {
  opacity: 100%;
}